{% extends 'base.html' %}
{% load static %}
{% block content %}
    <hr />
    <a href="/recipes/create">Add a New Recipe!</a>
    <hr />
    {% for recipe in recipes %}

        <a href="/recipes/{{recipe.id}}">
            <p>Name: {{ recipe.name }}</p>
        </a>
        <a href="/user/{{recipe.user.username}}">
            <p>Adopted By: {{recipe.user.username}}</p>
        </a>
        {% if recipe.age > 0 %}
            <p>Age: {{ recipe.age }}</p>
        {% else %}
            <p>Age: Kitten</p>
        {% endif %}
        <hr />
    {% endfor %}
{% endblock %}
