{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include "partials/navbar.html" %}
    <header>  
    </header>
    {% include "partials/scripts.html" %}
    {% block content %}
    {% endblock %}
    <footer>
        All Rights Reserved, CookBook 2018
    </footer>
</body>
</html>