{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_messages %}
<!DOCTYPE html>
  <html>
    <head>
      <title>catcollector</title>
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CatCollector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <span class="navbar-text">
            So you like cats huh?
          </span>
        </div>
      </nav>
      {% block block_body%}
      <div class="jumbotron">
        <h1 class="display-4">Do you like Collecting old raggity Cats?</h1>
        <p class="lead">Well this is the site for you, you can add cats to 
          your database as well as give your cats toys. Its great for the 
          person who doesnt have sheet to do. Happy Collecting!
        </p>
        <hr class="my-4">
        <p>Please do not upload the same pictures of the same cat 
          all the time. Thank you! We will ban you. It doesnt matter if 
          you have one cat. Go find other cats to take pics of .</p>
          <a class="btn btn-primary" href="/signup">Sign Up!</a>
          <a class="btn btn-primary" href="/login">Login</a>
        </div>
      {% endblock %}
        <div class="jumbotron">
          <h1 class="display-4">Want to see some Cats?</h1>
          <p class="lead">Well this is the site for you, you can add cats to 
            your database as well as give your cats toys. Its great for the 
            person who doesnt have sheet to do. Happy Collecting!
          </p>
          <hr class="my-4">
          <a href="/cats" class="btn btn-primary">View All My Cats!</a>
      </div>

      <footer>All Rights Reserved, catcollector 2018</footer>
    </body>
  </html>